.menu_close{
    background-color: gray;
    height: 100%;
    width: 60%;
    transform: translate3d(-100%, 0, 0);
    position: fixed;
    top: 0;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    z-index: 10;
}

.menu_open{
    background-color: rgb(179, 179, 179);
    height: 100%;
    width: 60%;
    transform: translate3d(0, 0, 0);
    position: fixed;
    top: 0;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    z-index: 10;
}